/*Style Desktop Layout*/

@media screen and (min-width: 1200px) {

    body{
        margin: 0;
        overflow-y: scroll;
    }

    .text{
        font-size: 18px;
    }
    
    .header-links{
        text-align: right;
        margin-right: 10%;
        width: 70%;
    }

    .mobile{
        display: none
    }

    .header-link{
        padding: 1.5em;
    }

    .header-link:hover{
        color: #b3392e
    }

    .footer-link:hover{
        color: #b3392e
    }

    .link:hover{
        color: #b3392e
    }

    .mapslink:hover{
        color: #b3392e
    }

    .icon_social:hover{
        color: #b3392e
    }

    .header{
        border-bottom: 1px solid #5b5b5b;
        width: 100%;
        min-height: 7vh;
    }

    .header-content{
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        width: 100%;
        display: inline-flex;
    }

    .header-logo{
        width: 30%;
        margin:-15px;
    }

    .heading-image-element{
        width: 100%;
        max-height: 40%;
    }

    .heading-image{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 70vh;
        position: relative;
        display: flex;
        border-bottom: 1px solid #5b5b5b;
    }

    .bottom-image{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 40vh;
        display: flex;
        border-bottom: 1px solid #5b5b5b;
        border-top: 1px solid #5b5b5b;
    }


    .heading-image-box{
      width: 40%;
      height: 30%;
      min-height: 200px;
      position: absolute;
      bottom: 5%;
      margin-left: 10%;
      border-radius: 20px;
      background: rgba(255, 255, 255, 0.4);
    }

    .imageHeading{
        font-size: 3vw !important;
    }

    .headingBox{
        display: inline-flex
    }

    .imageHeading{
        font-size: 30px;    
    }

    .heading{
        margin-top: 10px;
        margin-bottom: 0;
    }

    .center{
        text-align: center;
    }


    .textBox{
        font-size: 30px;
        margin-top: 0;
    }

    .hashtag{
        font-size: 170px;
        line-height: 150px;
        margin-left: 10px;
    }

    .basicIcon{
        font-size: 70px;
    }

    .basics{
        margin-top: 2%;
        min-height: 30vh;
        width: 100%;
        display: inline-flex
    }

    .singleBasic{
        width: 30%;
        margin-left: 2.5%;
        text-align: center;
    }

    .singleMember{
        width: 50%;
    }

    .team{
        display: inline-flex;
        width: 100%;
        margin-bottom: 20px;
    }

    .teamimage{
        width: 200px;
        height: 200px;
        margin-bottom: 50px;
        border-radius: 100px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .qualification{
        margin-left: 35%;
        line-height: 1.5;
    }

    .qualificationheading{
        margin-left: 30%;
    }

    .team_general{
        min-height: 60px;
    }

    .subheading{
        font-size: 30px;
        margin-top: 10px;
    }

    .thirdheading{
        font-size: 25px;
    }

    .iconPhysio{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 80px;
        height: 80px;
        display: inline-block;
    }

    .iconImprint{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        display: inline-block;  
    }

    .marginbottom{
        margin-bottom: 0px;
    }

    .singleOptionPhysio{
        width: 25%;
        padding: 1em;
        text-align: center;
    }

    .floatingheading{
        margin-left: 10%;
    }

    .floatingtext{
        margin-left: 20%;
        font-size: 15px;
    }

    .services{
        text-align: center;
        font-size: 15px;
        margin-top: 10px
    }

    .floatingservices{
        margin-left: 10%;
        font-size: 15px;
    }

    .inlinetext{
        margin-right: 5%;
    }

    .inline{
        display: inline-flex;
        width: 100%;
    }

    .footer{
        border-top: 1px solid #5b5b5b;
    }

    .footer-links{
        text-align: right;
        width: 100%;
    }

    .footer-link{
        padding: 1.5em;
    }

    .footer-link:hover{
        color: #b3392e
    }

    .footer{
        width: 100%;
        margin-top: 2vh;
        min-height: 7vh;
    }

    .footer-content{
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        width: 100%;
        display: inline-flex;
    }

    .content{
        min-height: 82vh;
    }

    .icon_social{
        font-size: 25px;
        margin-left: .5em;
    }

    .socialmedia{
        margin-left: 5em;
        display: inline-flex;
    }

    .imprint{
        width: 80%;
        margin-left: 10%;
    }

    .opening_days{
        min-width: 100px;
    }

    .opening{
        margin-left: 30%;
    }

    .imprintfloat{
        margin-left: 5%;
    }

    .marginFooter{
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .margin50{
        margin-bottom: 50px;
    }

    .pricesize{
        font-size: 40px;
    }

    .philosophie{
        width: 90%;
        line-height: 2;
        margin-left: 5%;
    }

    .carousel-link-desktop{
        cursor: pointer;
    }

    .notFound_icon{
        font-size: 150px;
        margin-top: 5%;
    }

    .jobs_inline{
        display: inline-flex;
    }

    .jobs_inline_two{
        display: inline-flex;
    }

    .jobs_one{
        width: 70%;
    }

    .jobsimage_one{
        margin-top: -20%;
        margin-left: 5%;
    }

    .jobsimage{
        width: 400px;   
        height: 30vh;
    }

    .jobs_block{
        min-width: 100%;
        margin-left: 5%;
    }

    .jobstext{
        width: 60%;
        margin-left: 20%;
    }


}
