@font-face {
    font-family: 'S721 Bold';
    src: url('./S721BtBold.ttf') format('truetype');
}

@font-face {
    font-family: 'S721 Normal';
    src: url('./S721BtNormal.ttf') format('truetype');
}

  @font-face {
    font-family: 'S721 Ex BT';
    src: url('./S721ExBt.ttf') format('truetype');
} 

body{
    margin: 0
}

.red{
    color: #70231d;
}

.grey{
    color: #5b5b5b
}

.burger{
    background: url("../static/toggle.svg")
}

.white{
    color: white
}

.fontBold{
    font-family: "S721 Bold";
}

.fontNormal{
    font-family: "S721 Normal";
}

.fontEx{
    font-family: "S721 Ex BT";
}

.button{
    text-decoration: none;
    cursor: pointer;
}

.link{
    text-decoration: none;
}

.logo{
    background-image: url("./logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.texticon{
    margin-right: 5px;
}

.stefan{
    background-image: url("./stefan.jpg");
    background-position: 6% 6% !important
}


.madeleine{
    background-image: url("./madeleine.jpg");
    background-position: 17% 17% !important
}

.homeImage{
    background-image: url("./personaltraining_reifen.jpg");
}

.home_rotation_1{
    background-image: url("./physiotherapie_behandlung_3.jpg");
}

.home_rotation_2{
    background-image: url("./kurstraining.jpg");
    background-position: 0% 20% !important;
}

.home_rotation_3{
    background-image: url("./physiotherapie_maschine.jpg");
}

.home_rotation_5{
    background-image: url("./theke.jpg");
}

.home_rotation_6{
    background-image: url("./gebaude_hartwork.jpg");
}

.home_rotation_4{
    background-image: url("./team_hartwork.jpg");
    background-position: 0% 20% !important
}

.homeBottomImage{
    background-image: url("./paartraining.jpg");
    background-position: 0% 54% !important;
}

.physio_top{
    background-image: url("./physiotherapie_behandlung_2.jpg");
    background-position: 0% 70% !important
}

.physio_rotation_1{
    background-image: url("./physiotherapie_schulter.jpg");
}

.physio_rotation_2{
    background-image: url("./physiotherapie_ruecken.jpg");
}

.physio_rotation_3{
    background-image: url("./physiotherapie_taping.jpg");
    background-position: top !important;
}

.physio_rotation_4{
    background-image: url("./physiotherapie_raum2.jpg");
}

.physio_rotation_5{
    background-image: url("./physiotherapie_raum3.jpg");
}

.physio_bottom{
    background-image: url("./physiotherapie_behandlung_1.jpg");
    background-position: 0% 56% !important;
}

.sport_top{
    background-image: url("./gruppentraining_2.jpg");
}

.sport_rotation_1{
    background-image: url("ems_training.jpg");
    background-position: top !important;
}

.sport_rotation_2{
    background-image: url("personaltraining_lifting.jpg");
}

.sport_rotation_3{
    background-image: url("personaltraining_seil.jpg");
    background-position: top !important;
}

.sport_rotation_4{
    background-image: url("teamworkout.jpg");
}

.sport_rotation_5{
    background-image: url("ausrustung_personaltraining_1.jpg");
}

.sport_rotation_6{
    background-image: url("ausrustung_personaltraining_2.jpg");
}

.sport_bottom{
    background-image: url("./personaltraining_2.jpg");
}

.publicMassage{
    background-image: url("./icons/massage.png");
}

.lymph{
    background-image: url("./icons/lymph.png");
}

.privatMassage{
    background-image: url("./icons/privatMassage.png");
}

.tape{
    background-image: url("./icons/tape.png");
}

.klettern{
    background-image: url("./icons/klettern.png");
}

.pravention{
    background-image: url("./icons/pravention.png");
}

.gymnastik{
    background-image: url("icons/hantel.png");
}

.therapie{
    background-image: url("icons/therapie.png");
}

.krankengymnastik{
    background-image: url("icons/gehirn.png");
}

.kgg{
    background-image: url("icons/kgg.png");
}

.reflex{
    background-image: url("icons/reflex.png");
}

.ems{
    background-image: url("icons/ems.png");
}

.gruppe{
    background-image: url("icons/gruppe.png");
}

.duo{
    background-image: url("icons/duo.png");
}

.solo{
    background-image: url("icons/solo.png");
}

.center{
    text-align: center;
}

.underline{
    text-decoration: underline;
}

.displayNone{
    display: none
}

